<nav class="navbar navbar-expand-lg shadow-sm navbar-dark bg-black elegant-nav">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-4" [routerLink]="['/']">
      GENERATEUR DE MEME
    </a>

    <!-- Toggle Mobile -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link nav-hover" [routerLink]="['/']">Galerie</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-hover" [routerLink]="['/meme-item']">Créer un Meme</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
